<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login/addbook/addit" method="POST">
        <label>Enter Book Name:-</label>
        <input name="bookname" type="text"/><br>
        <label>Enter Book Author:-</label>
        <input name="bookauthor" type="text"/><br>
        <label>Enter Book Category:-</label>
        <input name="bookcategory" type="text"/><br>
        <label>Enter Book Price:-</label>
        <input name="bookprice" type="text"/><br>
        <button>Submit</button>
    </form>
</body>
</html>