<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login/addbook" method="POST">
        <button>Add Book</button>
    </form>
    <form action="/login/display" method="POST">
        <button>Display Books</button>
    </form>
    <form action="/login/delete" method="POST">
        <button>Delete Books</button>
    </form>
    <form action="/login/edit" method="POST">
        <button>Edit Button</button>
    </form>
</body>
</html>