<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
        <label>Enter firstname:-</label>
        <input name="firstname"/><br>
        <label>Enter lastname:-</label>
        <input name="lastname"/><br>
        <label>Enter username</label>
        <input name="username"/><br>
        <label>Enter password</label>
        <input name="password"/><br>
        <label>Enter password again:-</label>
        <input name="againpassword"/>
        <button>Submit</button>
    </form>
    <form action="/seedata" method="POST">
        <button>See Data</button>
    </form>
    <form action="/delete" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>