<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register/adduser" method="post">
        <label>Enter your First Name:-</label>
        <input type="text" name="firstname"/><br>
        <label>Enter your Last Name:-</label>
        <input type="text" name="lastname"/><br>
        <label>Enter Username:-</label>
        <input type="text" name="username"><br>
        <label>Enter your password</label>
        <input type="text" name="password"><br>
        <label>Enter your password again</label>
        <input type="text" name="againpassword"><br>
        <button>Submit</button>
    </form>
</body>
</html>