<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/validate/addbook" method="POST">
        <button>Add Book</button>
    </form>
    <form action="/validate/display" method="GET">
        <button>Show Books</button>
    </form>
    <form action="/validate/delete" method="GET">
        <button>Delete Books</button>
    </form>
    <form action="/validate/editbook" method="GET">
        <button>Edit Books</button>
    </form>
</body>
</html>